.dataTables_wrapper .dataTables_length label {
    padding-left: 0;
}

.dataTables_wrapper .dataTables_filter {
    padding-right: 0;
}

.dataTables_wrapper .dataTables_paginate {
    padding-right: 0;
}

.dataTables_wrapper .dataTables_info {
    padding-left: 0;
}

.form-select {
    padding: 0.7rem 2.5rem;
    font-size: 0.945rem;
}
